/* Project-wide style */

:root {
    --blue-light: #94B2FF;
    --blue-medium: #ADCEFF;
    --blue-dark: #3E68FF;
    --yellow: #EBC029;
    --green: #24B50D;
    --red: #FF0606;
    --gray: #F2F2F2;
    --black: #000000;
    font-family: Poppins, Roboto, Raleway;
}

a {
    color: var(--black);
    text-decoration: none;
    background-color: transparent;
}

/* Styling for footer and navbar */

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Helper class for enabling and disabling the dropdown */
.active {
    display: block;
}

nav {
    display: flex;
    justify-content: flex-end;
    color: var(--black);
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    column-gap: 1rem;
}

nav a:hover {
    font-weight: 700;
}

#user {
    background-color: var(--blue-dark);
    border-radius: 1rem;
    padding: .25rem 1.25rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
    color: #FFF;
    background-color: var(--blue-light);
}

footer p {
    display: block;
    font-size: larger;
}

#content {
    padding-bottom: 5rem;
}
